*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;

}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 10px;
    width:100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}  
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;

}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    
}
.reservation{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
}
.reservation:hover{
    background: #d8771d;
    transition: ease-out;
}
header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}
.sec{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/resto.jpg);
    background-size:cover ;
}
.sec .sec1{
    max-width: 70%;
    text-align: center;
}
.sec .sec1 h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.sec1 p:nth-child(2){
    color: #fff;
    font-size: 1.6em;

}
  section{
      padding: 100px;
  }
  .row{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
 .row .col50{
     position: relative;
     width: 48%;
     justify-content: center;
     align-items: center;

 }
 .row .col50 h2{
     margin-bottom: 20px;

 }
 .titre{
     color: #000;
     font-size: 2em;
     font-weight: 300px;
     text-transform: capitalize; 
 }
 .titre span{
     color: #fb911f;
     font-size: 1.5em;
     font-weight: 700px;
 }
 .row .col50 img{
     height: 450px;
     width: 600px;
     position: relative;
 }
 .titre{
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
 }
 .menu{
     margin-top: -100px;

 }
 .menu .contenu{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 40px;

 }
 .menu .contenu .box{
     width: 350px;
     margin: 20px;
     border: 20px solid #fff;
     box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
 }
 .menu .contenu .box .inbox{
     position: relative;
     width: 100%;
     height: 300px;

 }
 .menu .contenu .box .inbox img{
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 300px;
     object-fit: cover;
 }
 .menu .contenu .box .text{
     text-align: center;
     font-weight: 300px;
     color: #111;
 }
 .menu .contenu .box .text h3{
     font-weight: 400;
 }

.expert{
    margin-top: -100px;

}
.expert .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.expert .contenu .box{
    width: 250px;
    margin: 15px;
}
.expert .contenu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.expert .contenu .box h3{
    color: #111;
    font-weight: 400;
    text-align: center;
}
.temoignage{
    background-image:url(./images/pic14.jpg) ;
    background-size: cover;
}
.temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
}
.temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}
.temoignage .contenu .box .inbox{
    width:80px ;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.temoignage .contenu .box .inbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.temoignage .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}
.temoignage .contenu .box .text h3{
    color: #d8771d;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;

}
.blanc .titre1{
    color: #fff;
}
.blanc .titre1,
.blanc p{
    color: #fff;
}
 
.contact{
    background-image: url(./images/pic15.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}
.contactform{
    padding: 75px 50px;
    background:#d8771d;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
}
.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    
}
.contactform h3{
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;
    
}
.contactform .inputboite input, 
.contactform .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #ffffff;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color:#ffff;
    background: #fb911f;
    display:inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
    
}
.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}
.contact .titre-text  {
    color: #ffffff;
}
header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .logo
{
    color: #000;
}
header.sticky .navbar li a{
    color: #000;

}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}




