
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(imageC/back-pic1.jpg);
    background-size:cover ;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  #cart-items {
    margin-top: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .item img {
    border-radius: 90px;
    width: 230px;
    height: 200px;
    margin-right: 25px;
    margin-left: 20px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-details h3 {
    margin: 0;
  }
  
  .item-details p {
    margin: 5px 0;
  }
  
  .item-details .price {
    font-weight: bold;
  }
  
  .quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity input {
    width: 40px;
    margin-right: 10px;
    text-align: center;
  }
  
  .remove {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #cart-total {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
  }
  .item {
  width:none;
  height: auto;
  background-color: rgb(254, 254, 254);
  font-size: 20px;
  border-radius: 90px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}
